# Dependances
node_modules/

# Build
dist/
build/

# Coverage & docs générés
coverage/
/docs/
public/docs/

# Python
__pycache__/
*.pyc

# Fichiers de l'OS
.DS_Store
Thumbs.db

# Variables d'environnement
.env

# Certificat SSL Aiven
server/ca.pem
.env.local
.env.*.local

# Cypress artefacts
cypress/screenshots/
cypress/videos/

# Logs
*.log
npm-debug.log*
key.txt

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.pem
registry/registry-key-terraform.pem
