# Dependances
node_modules/

# Build
dist/
build/

# Coverage & docs générés
coverage/
/docs/
public/docs/

# Fichiers de l'OS
.DS_Store
Thumbs.db

# Variables d'environnement
.env
.env.local
.env.*.local

# Cypress artefacts
cypress/screenshots/
cypress/videos/

# Logs
*.log
npm-debug.log*
